[submodule "signal-annotation-tool-server"]
	path = signal-annotation-tool-server
	url = https://github.com/etherealyn/signal-annotation-tool-server
[submodule "signal-annotation-tool-client"]
	path = signal-annotation-tool-client
	url = https://github.com/etherealyn/signal-annotation-tool-client
