[submodule "Signal-Annotation-Tool-Client"]
	path = Signal-Annotation-Tool-Client
	url = https://github.com/etherealyn/Signal-Annotation-Tool-Client
[submodule "Signal-Annotation-Tool-Server"]
	path = Signal-Annotation-Tool-Server
	url = https://github.com/etherealyn/Signal-Annotation-Tool-Server
