<app-label-form *ngIf="labelTreeModal" xmlns="http://www.w3.org/1999/html" [userRole]="userRole" [singleMediaProject]="project.singleMedia" (onHide)="changeHide($event)"></app-label-form>
<clr-tree-node>
  <div>
    <clr-icon [attr.shape]='annotationsFolder.expanded ? "folder-open" : "folder"'></clr-icon>
    {{ annotationsFolder.name }}
  </div>
  <div class="btn-group btn-link btn-icon action-icons">
    <button type="button" class="btn" title="Add a Category of Labels" (click)="addNewLabelCategory()">
      <clr-icon shape="plus"></clr-icon>
    </button>
  </div>
  <ng-template [(clrIfExpanded)]="annotationsFolder.expanded">
    <clr-tree-node *ngFor="let labelCategory of annotationsFolder.files; let i = index">

      <div class="clr-treenode-link">
        <input style="width: inherit" type="text" [(ngModel)]="labelCategory.name" (change)="onLabelCategoryNameChange(labelCategory)"/>
      </div>
      <div>
        <button class="btn btn-link btn-icon" (click)="onLabelCategoryDelete(labelCategory.id)">
          <clr-icon shape="trash"></clr-icon>
        </button>
      </div>
    </clr-tree-node>
  </ng-template>
</clr-tree-node>
