.action-icons {
  margin-left: auto;
  margin-right: 0 !important;
}

.parent {
  display: table;
  min-width:100%;
}

.child {
  display: table-cell;
}

.aliggnright {
  margin-right: 1em;
  text-align: right;
}
.inherit-margin-right{
  margin-right: inherit;
}
