 <clr-main-container>
  <app-header>
  </app-header>

  <div class="content-container">
    <div class="content-area">
      <ng-content></ng-content>
    </div>

    <clr-vertical-nav
      *ngIf="verticalNavVisible"
      [clrVerticalNavCollapsible]="false"
      [(clrVerticalNavCollapsed)]="isNavCollapsed"
      [ngStyle]="getWidth()">

      <div *ngIf="!isNavCollapsed">
        <app-filetree></app-filetree>
        <app-label-tree></app-label-tree>
      </div>
      <div *ngIf="isNavCollapsed" class="width-3-rem">
        <clr-icon shape="pencil" [className]="iconStyle[0]" (click)="activateTool(0)"></clr-icon>
        <clr-icon shape="cursor-hand-open" [className]="iconStyle[1]"  (click)="activateTool(1)"></clr-icon>
        <clr-icon shape="stop" [className]="iconStyle[2]"  (click)="activateTool(2)"></clr-icon>
        <clr-icon shape="circle" [className]="iconStyle[4]"  (click)="activateTool(4)"></clr-icon>
        <clr-icon shape="pin" [className]="iconStyle[5]"  (click)="activateTool(5)"></clr-icon>
        <clr-icon shape="undo" [className]="iconStyle[3]"  (click)="activateTool(3)"></clr-icon>
        <clr-icon shape="floppy" [className]="iconStyle[6]"  (click)="activateTool(6)"></clr-icon>
      </div>

    </clr-vertical-nav>
  </div>

</clr-main-container>
