 <clr-main-container>
  <app-header>
  </app-header>

  <div class="content-container" #collapsible_nav>
    <div class="content-area top-padding-0">
      <ng-content></ng-content>
    </div>

    <clr-vertical-nav
      *ngIf="verticalNavVisible"
      [clrVerticalNavCollapsible]="true"
      [(clrVerticalNavCollapsed)]="isNavCollapsed"
      (clrVerticalNavCollapsedChange) = "updateCollapsed($event)"
      onload="this.updateCollapsed()"
      >

      <div *ngIf="!isNavCollapsed">
        <app-filetree></app-filetree>
        <app-label-tree></app-label-tree>
      </div>
      <div *ngIf="isNavCollapsed" class="width-3-rem">
        <clr-icon shape="cursor-hand-open" [className]="iconStyle[1]" title="Select to move trackables" (click)="activateTool(1)"></clr-icon>
        <clr-icon shape="stop" [className]="iconStyle[2]" title="Select to create a rectangular tracker" (click)="activateTool(2)"></clr-icon>
        <clr-icon shape="circle" [className]="iconStyle[4]" title="Select to create a circular tracker" (click)="activateTool(4)"></clr-icon>
        <clr-icon shape="pin" [className]="iconStyle[5]" title="Select to create a free shape tracker" (click)="activateTool(5)"></clr-icon>
        <clr-icon shape="pencil" [className]="iconStyle[0]" title="Select to create a unbounded tracker" (click)="activateTool(0)"></clr-icon>
        <clr-icon shape="undo" [className]="iconStyle[3]" title="Undo" (click)="activateTool(3)"></clr-icon>
        <clr-icon shape="floppy" [className]="iconStyle[6]" title="Save tracking data" (click)="activateTool(6)"></clr-icon>
        <div class="fit-content-width align-color-picker pointer hover-effect"><input  title="Select tracker color" type="color" class="dot pointer" [style.background]="fillColor" [(ngModel)]="fillColor" (ngModelChange)="changeColor($event)" /></div>
      </div>

    </clr-vertical-nav>
  </div>
   <div *ngIf="router.url == '/projects'" class="clr-footer">

   </div>
</clr-main-container>
