<div class="login-wrapper">
  <app-login *ngIf="isLogin"
             [appName]="appName"
             (registerIntent)="onRegisterIntent()"></app-login>
  <app-signup *ngIf="!isLogin"
              [appName]="appName"
              (onLoginIntent)="onLoginIntent()"></app-signup>
  <!--<div class="quote-container">
    <i class="pin"></i>
    <blockquote class="note yellow">
      Be sure to check out the tutorial to help you get started after log in!
    </blockquote>
  </div>-->
  <!--<div class="quote-container">
    <i class="pin"></i>
    <blockquote class="note yellow">
      Create an account to log into by clicking the register instead button!
    </blockquote>
  </div>-->
</div>
