<div class="progress loop progress-fade" *ngIf="loading" style="margin: 24px"><progress></progress></div>
<div #timeline_visualization></div>
<!--<div *ngIf="loading">Loading...</div>-->
<!--<div class="btn-group">-->
<!--<div class="checkbox btn" *ngFor="let clazz of classes; let i = index">-->
<!--<input type="checkbox" id="btn-demo-check-{{i}}" [checked]="clazz.buttonChecked" (change)='onCheckboxChange(clazz)'>-->
<!--<label for="btn-demo-check-{{i}}" class="checkbox-button">{{clazz.name}}</label>-->
<!--</div>-->
<!--</div>-->
<!--<br>-->
<!--<button class="btn btn-outline btn-icon">-->
<!--<clr-icon shape="floppy"></clr-icon>-->
<!--Save-->
<!--</button>-->
<!--<button class="btn btn-outline btn-icon">-->
<!--<clr-icon shape="export"></clr-icon>-->
<!--Export-->
<!--</button>-->
