div.vis-item.expected {
  background-color: transparent !important;
  border-style: dashed !important;
  z-index: 0;
}

.pad-right-2-em {
  padding-right: 2em;
}

.redItem {
  color: white;
  background-color: red;
  border-color: darkred;
}

.currentPlayingTime {

}
