.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.margin-top {
  margin-top: 1rem !important;
}

.margin-top-select {
  margin-top: 1rem !important;

}

.width-max {
  width: 100%;
  max-width: 100%;
}
.relative-position {
  position: relative;
}

.overflow {
  overflow-y: visible;
}

.width-90 {
  width: 94%;
}

.width-inherit {
  width: inherit;
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}
